section{
    display: flex;
   justify-content: center;
   margin-top: 20%;
   
}
    .bloc1 {  
        width: 100px;  
        height: 100px;  
        background-color: aquamarine;  
        margin: 10px; 
        box-shadow: 2px 2px 3px 2px black;
    }
    .bloc2 {  
        width: 100px;  
        height: 100px;  
        background-color: wheat;  
        margin: 10px; 
        box-shadow: 2px 2px 3px 2px black; 
    }
    .bloc3 {  
        width: 100px;  
        height: 100px;  
        background-color: gold;  
        margin: 10px;  
        box-shadow: 2px 2px 3px 2px black;
    }    
